# Установить LF для всех текстовых файлов
* text=auto eol=lf

# Явно указать LF для скриптов и конфигурационных файлов
*.sh text eol=lf
*.py text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.json text eol=lf
*.md text eol=lf
*.txt text eol=lf 